<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <script type="text/javascript" src="index.js"></script>
    <title>마이페이지</title>
</head>
<body>
    <div class="container">
        <img src="./밥메이트 로고 1.jpg" alt="logo">
        <div class="userPannel">
            <p>메이트 매칭</p>
            <p>뭐먹지?</p>
            <div class="check"><p>마이페이지</p></div>
        </div>
        <div class="line"></div>
        <div class="smallBox">
            <div class ="text">
                <p> OOO 님</p>
                <a href="file:///C:/Users/yunji/Desktop/%EB%B9%84%EB%B0%80%EB%B2%88%ED%98%B8%20%EB%B3%80%EA%B2%BD/index.html">비밀번호 변경></a>
            </div>
        </div>
        <div class="box">
            <p>MY MATE</p>
            <div class="menu-box">
                <p>2023.05.12(금)</p>
                <p>윤가네</p>
                <p>11:00</p>
                <div class="menu-option">
                    <p>남녀무관</p>
                    <p>4명</p>
                    <button type='button' class="button" href="#">나가기</button>
                </div>
            </div>
            <div class="menu-box">
                <p>2023.05.10(수)</p>
                <p>치즈밥</p>
                <p>13:00</p>
                <div class="menu-option">
                    <p>남자만</p>
                    <p>3명</p>
                    <button type='button' class="button" href="#">삭제하기</button>
                </div>
            </div>
            <div class="menu-box">
                <p>2023.05.04(목)</p>
                <p>함께식탁</p>
                <p>12:00</p>
                <div class="menu-option">
                    <p>여자만</p>
                    <p>2명</p>
                    <button type='button' class="button" href="#">삭제하기</button>
                </div>
            </div>
            
                <button type='button-box' class="button-box" href="#">LOGOUT</button>
            
        </div>
</body>
</html>