body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  .container img {
    width: 140px;
    height: 110px;
    margin-top: 0px;
  }
  .container p{
    font-size: 15px;
  }
  
  .userPannel {
    display: flex;
    margin-left: 10px;
    margin-top: -25px;
    gap: 80px;
  }
  .check p{
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
    gap: 80px;
    background-color: rgba(249, 221, 231, 0.5);
    border: none; /* 기존 테두리 제거 */
    box-shadow: 0 0 20px rgba(240, 202, 216, 0.7);
   color: #1F1F98;
  }
  .line {
    width: 360px;
    height: 0.3px;
    background-color: #F9DDE7;
    margin-bottom: 20px;
    margin-top: -5px;
  }
  .box {
    width: 298px;
    height: 416px;
    border-radius: 8px;
    box-shadow: 2px 1px 2px 1px rgb(173, 169, 169);
    border: 1px solid #F9DDE7;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 15px;
  }
  .smallBox {
    width: 298px;
    height: 10px;
    border-radius: 8px;
    box-shadow: 2px 1px 2px 1px rgba(173, 169, 169);
    border: 1px solid #F9DDE7;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 15px;
  }
.text p,
.text a {
  display: inline-flex;
  align-items: start;
  font-size: 15px;
  margin-right: 45px;
  margin-left: 45px;
  margin-top: -20px;
}

.text a {
  font-size: 13px;
  color:black;
  text-decoration: none;
}
.box p {
  font-size: 16px;
  margin-top: -10px;
}
.menu-box {
  width: 266px;
  height: 92px;
  background-color: #ffffff; 
  margin-top: 5px;
  border: 1px solid #F9DDE7;
  box-shadow: 2px 1px 2px 1px rgba(173, 169, 169);
  border-radius: 8px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.menu-box p{
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.menu-option {
  display: flex;
  align-items: center;
}

.menu-option p,
.menu-option button {
  margin-right: 10px;
  margin-left: 35px;
}
.button {
  width: 55px;
  height: 20px;
  background-color: rgba(249, 221, 231, 0.5);
  border: 1px solid #F9DDE7;
  border-radius: 8px;
 font-size: 10px;
}
.button-box{
  width: 68px;
  height: 35px;
  background-color: rgba(249, 221, 231, 0.5);
  border: 1px solid #F9DDE7;
  border-radius: 8px;
 font-size: 13px;
 margin-left: 200px;
 margin-top: 20px;
}